.content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  width: 100vw;
  min-height: 100vh;
}
a {
  text-decoration: none !important;
  color: #333;
}
img {
  width: 100%;
  height: 100%;
}
.navbar {
  background-color: #6eb800;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  padding: 20px 10px;
}
.nav-content a {
  display: block;
  margin: 20px 0;
  color: #fff;
  position: relative;
}
.nav-content a:hover {
  color: #fff;
}
.nav-content a::after {
  content: "";
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center left right;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.nav-content a:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.nav-content {
  display: flex;
  flex-direction: column;
}
.display-for-body {
  min-height: 100vh;
}
.facility-body {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1.5fr));
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
  border-right: 1px solid #333;
}
.table thead {
  background: #6eb800;
  color: #fff;
  border: 1px solid #333;
  border-bottom: 1px solid #333;
}
.table tbody tr:hover {
  background: lightgreen;
}
.table tbody tr {
  border: 1px solid #333;
}
.table tbody {
  border-top: 2px solid;
}
.table tbody tr td {
  border-right: 1px solid #333;
}
.header-content {
  border-bottom: 4px solid lightgreen;
  padding: 20px 10px;
}
.facility-info {
  margin: 0 20px;
  align-self: flex-start;
}
.facility-info h6 {
  font-size: 20px;
}
.facility-table {
  border-right: 2px solid lightgreen;
  padding-right: 30px;
}
.encounter-img {
  margin: 30px 0;
  width: 230px;
  height: 200px;
  border: 1px solid;
}
.encounter-img img {
  object-fit: contain;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 80px;
}
.pagination ul {
  background: #6eb800;
  display: flex;
  padding: 8px;
  border-radius: 50px;
}
.pagination ul li {
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.pagination ul li.btn {
  padding: 0 20px !important;
}
.pagination ul li.prev {
  border-radius: 25px 5px 5px 25px;
  margin-right: 10px;
}
.pagination ul li.next {
  border-radius: 5px 25px 25px 5px;
  margin-left: 10px;
}
.pagination ul li.dot {
  font-size: 22px;
  cursor: default;
}
.numb {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-top: 0 30px;
}
.pagination ul li.numb:hover,
.pagination ul li.active,
.pagination ul li.btn:hover {
  transition: 250ms all ease;
  color: #fff;
  background-color: lightgreen;
}
@media screen and (max-width: 768px) {
  .facility-body {
    grid-template-areas:
      "facility-info facility-info"
      "facility-table facility-table";
  }
  
  .facility-info {
    grid-area: facility-info;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .facility-table {
    grid-area: facility-table;
    overflow-x: scroll;
    border: none;
    border-top: 2px solid lightgreen;
    padding-top: 30px;
    margin-bottom: 100px;
  }
  .page {
    position: fixed;
    bottom: -20px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .pagination ul {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 8px 30px;
  }
  .pagination ul li i{
    display: none;
  }
  .content {
    gap: 0;
  }
  .header-content {
    padding: 10px 0;
  }
  .facility-info {
    margin: 0;
  }
  .facility-info span {
    font-size: 15px;
  }
  .navbar {
    height: 100%;
  }
  .encounter-img {
    width: 200px;
  }
}
@media screen and (max-width: 700px) {
  .facility-info{
    align-items: flex-start;
  }
}
